<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    padding: 1px;
}
table {
    border-spacing: 1px;
}
</style>
</head>
<body>


<div class="page-header">
  <h1>
    Testimonials
    <a href="/testimonials/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Testimonials (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @testimonials.each do |testimonial| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Testimonial #<%= testimonial.id %></h3>
      </div>
      <div class="panel-body">
        <dl>

        
          <dt>User</dt>
          <dd><%= User.find_by({ :id => testimonial.user_id}).client_name %></dd>

          <dt>Cust story</dt>
          <dd><%= testimonial.cust_story %></dd>

          <dt>Cook</dt>
                    
          <dd><%= Cook.find_by({ :id => testimonial.cook_id}).name %></dd>
          
          <dt>Cook story</dt>
          <dd><%= testimonial.cook_story %></dd>

        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/testimonials/<%= testimonial.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>

          <a href="/testimonials/<%= testimonial.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_testimonial/<%= testimonial.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </div>
    </div>  
    
      <br></br>
  </div>
<% end %>
</div>

<div class="row isotope-container">
  <div class="col-xs-200 col-sm-200 col-md-200 col-lg-200 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">All Users:</h3>
      </div>
        <div class="panel-body">
          <dl>
              <table style="width:100%">
              <col width="200">
              <col width="200">
              <col width="200">
              <col width="75">
             
              <tr>
                 <th>Client Name</th>
                 <th>Email</th>
                 <th>Language</th>
                 <th>Selfie</th>
              </tr>
            </table>
             <% User.all.each do |user| %>
            <table style="width:100%">
              <col width="200">
              <col width="200">
              <col width="200">
              <col width="75">             

              <tr>
                <td><%= user.client_name %></td>
                <td><%= user.email %></td>
                <td><%= user.language %></td>
            
                <td><img src="<%= Testimonial::IMAGES.sample %>" width="100%" /></td>

              </tr>
            </table>
            <% end %>
          </dl>
</div>
</div>
</div>
</div>

<!-- You can ignore the following. It's a quick and dirty example of how to get a Pinterest-style layout with quick search. -->
<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
