<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Testimonial #<%= @testimonial.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>User</dt>
              <dd><%= User.find_by({ :id => @testimonial.user_id}).email %></dd>

              <dt>Cust story</dt>
              <dd><%= @testimonial.cust_story %></dd>

              <dt>Cook</dt>
              <dd><%= @testimonial.cook_id %></dd>

              <dt>Cook story</dt>
              <dd><%= @testimonial.cook_story %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/testimonials" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/testimonials/<%= @testimonial.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_testimonial/<%= @testimonial.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
